html {
  font-size: 14px;
}

.navbar {
    background-color: #11202C !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1D3549;
    color: #F0F4EF;
}