/* Main */
html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #1D3549;
    color: #F0F4EF;
    font-family: 'Work Sans', monospace !important;
}

/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.25);
    height: 50px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, .25) !important;
    transition: all 0.5s;
}

.navbar-brand:hover {
    color: rgba(255, 255, 255, .75) !important;
}

.nav-button {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    transition: all 0.25s;
}
.nav-button:hover {
    color: rgba(255, 255, 255, 1) !important;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 8px;
}

/* AddItem page */
input.item-manager-field {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.25);
    color: #F0F4EF;
    background: rgba(255, 255, 255, 0.25);
    text-anchor: start;
    width: 50%;
    transition: all ease-in-out 0.25s;
}
input.item-manager-field:hover {
    border-bottom-color: blue;
    border-color: rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.5);
}