@page
@model Furnivault.Pages.AddItemModel
@{
    ViewData["Title"] = "Add Item";
}

<div class="container mt-5">
    <form method="post">
        <div class="row">
            <div class="col-5 text-end">
                Item name
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="Item.ItemName" rows="1"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item identifier
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="Item.ItemIdentifier" rows="1"/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item description
            </div>
            <div class="col-5">
                <textarea class="item-manager-field form-control" asp-for="Item.ItemDescription" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                <a class="button btn" asp-area="" asp-page="/Index"><span class="material-symbols-rounded me-1"> arrow_back </span>Cancel</a>
            </div>
            <div class="col-6">
                <button type="submit" class="button btn" asp-area=""><span class="material-symbols-rounded me-1"> done </span>Add</button>
            </div>
        </div>
    </form>
</div>