@page "{id:int}"
@model Furnivault.Pages.EditItemModel
@{
    ViewData["Title"] = "Edit Item";
}

<div class="container mt-5">
    <form method="post">
        <div class="row">
            <div class="col-5 text-end">
                Item name
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="Item.Name" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item identifier
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="Item.Identifier" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item description
            </div>
            <div class="col-5">
                <textarea class="item-manager-field form-control" asp-for="Item.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.Item.ItemId" class="button btn">Delete</button>
            </div>
            <div class="col-6">
                <button type="submit" asp-page-handler="Update" asp-route-id="@Model.Item.ItemId" class="button btn">Update</button>
            </div>
        </div>
    </form>
</div>