@page "{id:int}"
@model Furnivault.Pages.EditItemModel
@{
    ViewData["Title"] = "Edit Item";
}

<div class="container mt-5">
    <form method="post">
        <div class="row">
            <div class="col-5 text-end">
                Item name
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="ItemViewModel.Name" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item identifier
            </div>
            <div class="col-5">
                <input class="item-manager-field form-control" asp-for="ItemViewModel.Identifier" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-5 text-end">
                Item description
            </div>
            <div class="col-5">
                <textarea class="item-manager-field form-control" asp-for="ItemViewModel.Description" rows="3"></textarea>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-2 text-end">
                <button asp-page-handler="Delete" asp-route-id="@Model.ItemViewModel.ItemId" class="danger button btn"><span class="icon material-symbols-rounded me-1"> delete_forever </span>Delete</button>
            </div>
            <div class="col-3 text-end">
                <a class="button btn" asp-area="" asp-page="/Index"><span class="icon material-symbols-rounded me-1"> arrow_back </span>Cancel</a>
            </div>
            <div class="col-6">
                <button type="submit" class="button btn"><span class="icon material-symbols-rounded me-1"> save </span>Update</button>
            </div>
        </div>
    </form>
</div>