@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-3">
    <div class="row g-4">
        @foreach (var item in Model.Items)
        {
            <div class="col-4">
                <div class="item-card">
                    <div class="card-body">
                        <h5 class="fw-bold">@item.Name</h5>
                        <p class="card-text">@item.Description</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@item.Identifier</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>